aiodns==3.2.0
aiohttp==3.8.2
aiosignal==1.3.1
alpaca-py==0.22.0
alpaca-trade-api==3.1.1
alpha-vantage==2.3.1
altair==5.4.1
annotated-types==0.7.0
appdirs==1.4.4
APScheduler==3.10.4
asttokens==2.4.1
async-timeout==4.0.3
attrs==23.2.0
autopep8==1.6.0
Babel==2.15.0
bcrypt==4.1.3
beautifulsoup4==4.12.3
bidict==0.23.1
blinker==1.8.2
cachetools==5.5.0
ccxt==4.2.85
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==2.1.1
click==8.1.7
colorama==0.4.4
comtypes==1.1.11
contourpy==1.2.1
cryptography==42.0.7
cycler==0.12.1
decorator==5.1.1
deprecation==2.1.0
dnspython==2.6.1
duckdb==0.10.3
email_validator==2.1.1
exceptiongroup==1.2.1
exchange_calendars==4.5.4
executing==2.0.1
filelock==3.14.0
Flask==3.0.3
Flask-BabelEx==0.9.4
Flask-Login==0.6.3
Flask-Mail==0.10.0
flask-marshmallow==1.2.1
Flask-Principal==0.4.0
Flask-Security==3.0.0
Flask-SocketIO==5.3.6
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
fonttools==4.53.0
frozendict==2.4.4
frozenlist==1.4.1
fsspec==2024.5.0
gitdb==4.0.11
GitPython==3.1.43
google-ai-generativelanguage==0.6.10
google-api-core==2.23.0
google-api-python-client==2.153.0
google-auth==2.36.0
google-auth-httplib2==0.2.0
google-generativeai==0.8.3
googleapis-common-protos==1.66.0
greenlet==3.0.3
grpcio==1.68.0
grpcio-status==1.68.0
h11==0.14.0
html5lib==1.1
httplib2==0.22.0
huggingface-hub==0.23.2
ibapi==9.81.1.post1
idna==3.7
inflection==0.5.1
iniconfig==2.0.0
intel-openmp==2021.4.0
ipython==8.25.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
jsonpickle==3.0.4
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kiwisolver==1.4.5
korean-lunar-calendar==0.3.1
lumibot==3.4.4
lumiwealth-tradier==0.1.7
lxml==5.2.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.21.2
marshmallow-sqlalchemy==1.0.0
matplotlib==3.9.0
matplotlib-inline==0.1.7
mdurl==0.1.2
mkl==2021.4.0
more-itertools==10.2.0
mpmath==1.3.0
msgpack==1.0.3
multidict==5.2.0
multitasking==0.0.11
narwhals==1.13.5
networkx==3.3
numpy==1.26.4
packaging==24.0
pandas==2.2.2
pandas-datareader==0.10.0
pandas_market_calendars==4.4.0
parso==0.8.4
passlib==1.7.4
peewee==3.17.5
pillow==10.3.0
platformdirs==4.2.2
plotly==5.22.0
pluggy==1.5.0
polygon-api-client==1.13.7
prompt_toolkit==3.0.45
proto-plus==1.25.0
protobuf==5.28.3
psycopg2-binary==2.9.9
pure-eval==0.2.2
pyarrow==16.1.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycares==4.4.0
pycodestyle==2.8.0
pycparser==2.22
pydantic==2.7.2
pydantic_core==2.18.3
pydeck==0.9.1
Pygments==2.18.0
pyluach==2.2.0
pyparsing==3.1.2
pypiwin32==223
pytesseract==0.3.13
pytest==8.2.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-engineio==4.9.1
python-socketio==5.11.2
PythonTurtle==0.3.2
pyttsx3==2.90
pytz==2024.1
pywin32==303
PyYAML==6.0.1
Quandl==3.7.0
quantstats-lumi==0.3.0
referencing==0.35.1
regex==2024.5.15
requests==2.32.3
rich==13.9.4
rpds-py==0.21.0
rsa==4.9
safetensors==0.4.3
scipy==1.13.1
seaborn==0.13.2
simple-websocket==1.0.0
six==1.16.0
smmap==5.0.1
soupsieve==2.5
speaklater==1.3
SQLAlchemy==2.0.30
sseclient-py==1.8.0
stack-data==0.6.3
streamlit==1.40.1
sympy==1.12.1
tabulate==0.9.0
tbb==2021.12.0
tenacity==8.3.0
termcolor==2.4.0
timedelta==2020.12.3
tokenizers==0.19.1
toml==0.10.2
tomli==2.0.1
toolz==0.12.1
torch==2.2.2
torchaudio==2.2.2
torchvision==0.17.2
tornado==6.4.1
tqdm==4.66.4
traitlets==5.14.3
transformers==4.41.2
typing_extensions==4.12.0
tzdata==2024.1
tzlocal==5.2
uritemplate==4.1.1
urllib3==1.26.18
uuid==1.30
watchdog==6.0.0
wcwidth==0.2.13
webencodings==0.5.1
websocket-client==1.8.0
websockets==10.4
Werkzeug==3.0.3
wsproto==1.2.0
WTForms==3.1.2
yarl==1.9.4
yfinance==0.2.40
